/* "Instructions Page" */

instructions-container {
    display: none;
}

#instructions-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#instructions-container .first,
#instructions-container .second,
#instructions-container .third,
#instructions-container .fourth {
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#instructions-container .first {
    padding: 2rem;
    display: grid;
    place-content: center;
}

#instructions-container .first h2 {
    color: #fff;

}

#instructions-container .first p {
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

#instructions-container .second {
    display: flex;
}

#instructions-container .content {
    border: 1px solid #fff;
    width: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    color: white;
}

#instructions-container .content a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #000;
}

#instructions-container .content p {
    font-size: 24px;
    color: white;
}

#instructions-container .third,
#instructions-container .fourth {
    color: white;
}

@media screen and (max-width: 992px) {
    #instructions-container .second {
        flex-direction: column;
    }

    #instructions-container .content {
        width: 100%;
    }
}

#instructions-container .amin {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

#instructions-container .amin button {
    background-color: palevioletred;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
}

#instructions-container .amin button:active {
    background-color: black;
}

#instructions-container .amin img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

#instructions-container .amin2 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

#instructions-container .fourth .amin2 {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
