body {
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    margin: 0 auto;
    top: 50px;
}

.score-container {
    /*background-color: red;*/
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 0.5s 4s;
}

.score-container #score {
    color: white;
    font-size: 8vh;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
}

#scene{
 margin: 0;  
 border:0 none; 
}